.responsive-mob-menu{
	display: none;
}
.responsive-mob-menu ul li{
	padding: 5px 0;
}

.responsive-mob-menu ul li a{
	text-decoration: none;
	color: #dea81a;
}
.mob-menus{
	display: none;
}
	
@media only screen and (max-width: 800px) {
	a{
		padding: 1px;
	}
	.slider {

    margin-top: 0px;

}
	.responsive-main-header {
    background: #dea81a;
    height: 30px;
    position: relative;
    z-index: 51;
}
.responsive-menu-button {

    display: inline-block;
    width: 25px;
    height: 19px;
    border-top: 2px solid #717171;
    border-bottom: 2px solid #717171;
    position: absolute;
    top: 6px;
    z-index: 50;
    left: 8px;

}
.responsive-menu-button:after{
    content: '';
    display: block;
    height: 2px;
    background:#717171;
    margin-top: 7px;
}
.responsive-mob-menu{
		position: absolute;
		background:  #242424e6;
		z-index: 55;
		display: none;
		width: 100%;
		padding: 5px;
}
	
.responsive-main-menu{
 background: #7b7b7b66;
height: 30px;
position: absolute;
z-index: 40;
top: 30px;
right: 0;
left: 0;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
	}
	.responsive-mobmain-menu{
		  display: inline-block;
    width: 25px;
    height: 19px;
    border-top: 2px solid #dea81a;
    border-bottom: 2px solid #dea81a;
    position: absolute;
    top: 6px;
    z-index: 50;
    right: 8px;
	}
	.responsive-mobmain-menu:after{
    content: '';
    display: block;
    height: 2px;
    background:#dea81a;
    margin-top: 7px;
}
	.moblogo{
	background: url(../images/mob-logo.png) no-repeat center;
position: absolute;
top: -18px;
right: 54px;
height: 68px;
width: 100%;
	}
	
	.mob-menus{
position: absolute;
background:#1a1a1ae6;
z-index: 55;
width: 100%;
padding:0;
top: 29px;
display: none;
text-align: center;		
	}
	.mob-menus > ul >li{
	
		padding: 8px 0;

border-bottom: solid 1px #4a4a4acc;
	}
	.mob-menus ul li a{
		text-decoration: none;
		color: #A2A2A2;
	}	
	.mob-sub-menu{	
	display: none;
	background: #18181899;
    padding: 10px 0;
	}	
	
	.mob-sub-menu h3{	
	font-size: 20px;
color: #dea81a;
padding-bottom: 5px;
border-bottom: solid 1px #f5f5f566;
	}
	.mob-sub-menu li{	
	padding: 8px 0;
	}
	
	
	.hidden-xs{
		display: none !important;
	}
	.p-5{
		padding: 8px !important;
	}
	
	.offering h2{
		padding-bottom: 0px;
		padding-top: 13px;
	}
	.subscribe .subscribe-box {
    background: rgb(45, 109, 132);
    padding: 40px 6px 40px 7px;
}
	.cstm-btn{
		text-align: center;
		padding-top: 10px;
	}
	
	.ctm-btn {
    color: #fff;
    background-color: #16404f;
    border-color: #2d6d84;
}
	
	.subscribe ul li a {
    color: #fff;
    font-size: 19px;
    padding: 47px 0;
    text-decoration: none;
}
	.subscribe-service-content {
    border-right: none;
}
	.subscribe ul li a {
    font-size: 14px;
}
  }
/*index*/
@media only screen and (max-width: 800px) {
.construction {
    position: relative;
    top: -15px;
    z-index: 9;
}
	.icon-play-outline{
		padding-left:21px;
	}
	.ip-3{
		padding-right: 47px;
	}
	.case-studies-pannel a .case-studies-pannel-content::before {
    display: none;
}
	#particles-js .mainbanner_content {
    position: absolute;
    top: 66px;
}
	.banner_title {
    line-height: 24px;
    font-size: 34px;
    color: #fff;
    font-family: Poppins;
}
	.banner-subtitle {
    line-height: 4px !important;
    font-size: 22px;
    color: #fff;
    font-family: Poppins;
}
	.callto-action ul .single-box {
    position: relative;
    display: block;
    float: left;
    max-width: 100%;
    width: 100%;
    border-right: 1px solid #f5f5f5;
    padding: 0px 40px 0;
}
	}
/*index*/
/*smartcitysolutions*/

@media only screen and (max-width: 800px) {
	.smart-inner {
    padding: 43px 0 0px;
}
	.smart-inner h3 {
    font-size: 22px;
    padding-bottom: 6px;
    font-weight: 520;
}
	.smart-body {
    background: url( ../images/inner-banner-1-1.jpg)center no-repeat;
        background-size: auto;
    background-size: cover;
    padding: 0 0 69px 0;
    position: relative;
    top: 31px;
    text-align: center;
}
	.smart-body h3 {
    font-size: 22px !important;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    padding: 26px;
}
	.smart-inner p {
    line-height: 1.5;
    color: #656565;
    padding: 0;
}
	.carrer-inner2 p{
		padding: 0 20px;
	}
	#bio2{
		padding: 20px;
	}
	.carrer-inner2 .open-bio{
		padding: 0 0 0 24px;
	}
	.smartcontroller {
    padding-top: 0;
    padding-left: 0;
    margin-right: -30px;
}
	.gdrl-tab-content {
    background: url( ../images/tab-1.jpg)no-repeat center;
        background-size:cover;
    height: 474px;
    width: 305px;

}
.gdrl-tab-content1 {

    background: url( ../images/tab2.jpg)no-repeat center;
    height: 474px;
    width: 305px;
    background-size: cover;

}
.gdrl-tab-content2 {

    background: url( ../images/tab3.jpg)no-repeat center;
    height: 474px;
    width: 305px;
    background-size: cover;

}
	.gdrl-tab-content3 {

    background: url( ../images/tab4.jpg)no-repeat center;
    height: 474px;
    width: 305px;
    background-size: cover;

}
	.grd-panel{
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    font-size: 6px;
    overflow: hidden;
    position: relative;
    top: 49%;
    height: 242px;
}
	.grd-panel1{
		 background-color: rgba(255, 255, 255, 0.9);
    max-width: 80%;
    font-size: 6px;
    overflow: hidden;
    position: relative;
    top: 49%;
    height: 242px;
	}
	.grd-panel p {
  font-size: 12px;
padding: 0 !important;
line-height: 1.3;
}
.exp-tab {
    margin-top: 0;
}
	.left-arrow3 {
   display: none !important;
}
}
/*smartcitysolutions*/


/*career*/
@media only screen and (max-width: 800px) {
.carrer-inner {
    padding: 52px 0 80px;
}
.carrer-inner h3 {
    font-size: 21px;
}

.carrer-inner p {
    font-size: 17px;
    padding-top: 12px;
    line-height: 1.5;
}
.job-part::after {
    content: none;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: #c4c4cd;
}
.job-part h3 {
    padding: 0 0 20px;
    text-align: center;
}
.job-part p {
    padding: 0 19px 40px;
    font-size: 1rem;
    line-height: 28px;
    margin: 0;
}
.carrer-btn {
    padding-bottom: 6px;
}
.btn-pos {
    margin-left: 86px;
}
}
/*career*/

/*career-exp*/
@media only screen and (max-width: 800px) {
.rightCol {
float: right;
width: 115px;
padding-top: 171px;
padding-right: 0;
}
    h2.cartag {
    line-height: 1.2;
    margin: 0 0 0 10px;
    text-shadow: 1px 1px 1px #FFF;
    top: 75px;
    width: 279px;
    position: absolute;
    color: #333;
    font-size: 29px;
    letter-spacing: -.08em;
    left: -9px;
}
	.rightCol .sub-navs ul li {
padding-top: 6px;
padding-right: 0px;
padding-bottom: 6px;
padding-left: 0px;
font-size: 13px;
}
	.exp-inner h3 {
    font-size: 16px;
}
	.sub-navs1 h2 {
    padding-left: 5px;
    font-size: 16px;
   
}
	.social-shares p.fb {
    margin: 1px;
}
	.social-shares p.link {
    margin: 1px;
}
	.rightCol .sub-navs {
    margin: 0 2px 0 10px;
  
}
	.sub-navs1 {
    margin: 0 2px 0 10px;
 
}
	.social-shares {
    margin: 0 2px 0 10px;
}
	.carrer-tp-area {
    margin: 21px 17px 0 4px;
}
	.carrer-area p {
    color: #E4E4E4;
    font-size: 12px;
}
.lg-banner-img {
    background: url( ../images/14H02651_RF.jpg)no-repeat;
    padding: 3px 0 0;
    min-height: 315vh;
}
	.carrer-ext {
    background: linear-gradient(to bottom,#ffffffb3 0% ,#fcfcfc 100%);
    margin:21px;
    width: 100%;
}
	.bd {
    border-right: none;
}
	.ext-content p{
		color: #555555;
	}
	.cr-p {
    padding: 5px;
}
}
/*career-exp*/


/*know us*/
@media only screen and (max-width: 800px) {
.about-our-story{
	padding:50px 10px;
}

.about-img-box .content {
    position: absolute;
    top: -19px;
    left: 0;
    background: #1B4958;
    width: 100%;
    max-width: 156px;
    min-height: 151px;
    padding: 10px;
}


.about-img-box .content h3 {
    margin: 0;
    font-family: 'Poppins';
    font-size: 19px;
    line-height: 25px;
    color: #fff;
    font-weight: 684;
    margin-top: 13px;

}
.about-img-box .content {

    position: absolute;
    top: 0px;
    left: 0;
    background: #1B4958;
    width: 100%;
    max-width: 126px;
    min-height: 139px;
    padding: 15px;

}
.active-dot {
    font-size: 20px;
}
.history-slider .year-slide li::before {

    position: absolute;
    bottom: -18px;
    left: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    background: #f5f5f5;
    content: "";
    z-index: 3;

}
.history-slider .year-slide li::after {

    position: absolute;
    bottom: -18px;
    right: -4px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid #e3e3e3;
    background: #f5f5f5;
    content: "";
    z-index: 3;

}
.year-slide.slick-slide.slick-current.slick-active.slick-center .active-dot::before {
    position: absolute;
    bottom: -19px;
    left: 54%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fec144;
    background: #fec144;
    content: "";
    z-index: 3;
    margin-left: -8px;

}
.history-bg {
    background: #fec144;
    max-width: 320px;
    height: 311px;
    margin-top: 52px;
}
.slick-list.draggable{
	padding: 0 !important;
}
.slick-current.slick-active .date {

    opacity: 1;
    position: relative;
    width: 98px;
    left: 0;
    font-size: 18px;
    font-weight: 600;
    padding-top: 44px;

}
.slick-current.slick-active .history-contents > h3 {
    opacity: 1;
    position: relative;
    width: 185px;
    left: -33px;
    font-size: 17px;
    font-weight: 600;

}
.slick-current.slick-active .history-contents > p {

    opacity: 1;
    padding: 24px;
    position: relative;
    width: 320px;
    left: -111px;

}
.time-line .sec-title p {

    font-size: 16px;
    line-height: 28px;
    color: #545454;
    padding-left: 13px;

}
.corevalues {
    background: #1b4958;
    padding: 50px 0;
}	
	}
/*know us*/

/*enlytix*/
@media only screen and (max-width: 800px) {
	.main-page-content {
		padding: 48px;
	}
	.main-page-2 {
    padding-top:0px;
}
	.main-page-content-2 {
    padding: 50px 27px 50px 74px;
}
	.main-page-content-3 {
    padding: 50px 27px 50px 74px;
    background: #f3f3f3;

}
}



/*enlytix*/
/*aerospace*/
@media only screen and (max-width: 800px) {
.aerospace-inner {
    padding: 120px 0;
    padding-bottom: 80px;
}
	.side-bar-link-content{
		visibility: hidden;
	}
	.side-bar-link-content1{
		display: none;
	}
	.side-bar-link1{
		display: none;
	}
	.side-bar-link-content2{
		display: none;
	}
	.side-bar-link2{
		display: none;
	}
}
/*aerospace*/
/*history-slider*/
@media only screen and (max-width: 800px) {
.slick-current.slick-active .date {
    opacity: 1;
    position: relative;
    width: 325px;
    left: 0;
    font-size: 18px;
    font-weight: 600;
    padding-top: 44px;
}
	.slick-current.slick-active .history-contents > h3 {
    opacity: 1;
    position: relative;
    width: 325px;
    left: 0px;
    font-size: 17px;
    font-weight: 600;
}
	.slick-current.slick-active .history-contents > p {
    opacity: 1;
    padding: 24px;
    position: relative;
    width: 325px;
    left: 0px;
}
	/*history-slider*/
	
.connector{
	display: none;
}
.digital-twin {
    border: dashed 1px #00c4c7;
    padding: 25px;
    margin: 10px 0;
	position: inherit;
	top:0;
}	
.digital-twin::before {
    content: none;
    display: block;
    height: 172px;
    width: 19px;
    border-top: dotted 1px #20cfe5;
    position: absolute;
    left: -31px;
    border-right: dotted 1px #20cfe5;
    border-bottom: dotted 1px #20cfe5;
}
	.fa-long-arrow-down::before {
    content: none;
    display: inline-block;
    height: 75px !important;
    border-right: 1px solid #00c4c7;
    border-left: 1px solid #20cfe5;
    position: relative;
    left: 4px;
}
	.fa-long-arrow-down::after {
    content: none;
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #00c4c7;
    border-left: 2px solid #20cfe5;
    transform: translateY(-15px) rotateZ(-45deg);
}
	.fa-long-arrow-down2::before {
    content: none;
    display: inline-block;
    height: 125px !important;
    border-right: 1px solid #00c4c7;
    border-left: 1px solid #20cfe5;
    position: relative;
    left: 4px;
}
	.fa-long-arrow-down2::after {
    content: none;
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #00c4c7;
    border-left: 2px solid #20cfe5;
    transform: translateY(-15px) rotateZ(-45deg);
}
	.fa-long-arrow-down3::before {
    content: none;
    display: inline-block;
    height: 255px !important;
    border-right: 1px solid #00c4c7;
    border-left: 1px solid #20cfe5;
    position: absolute;
    left: 4px;
}
		.fa-long-arrow-down3::after {
    content: none;
    display: block;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #00c4c7;
    border-left: 2px solid #20cfe5;
    transform: translateY(-15px) rotateZ(-45deg);
}
	.cm-125 {
    margin-top: 0px;
}
	.cm-85 {
    margin-top: 0px;
}
	.digital-twin::after {
    content: none;
    display: block;
    height: 172px;
    width: 11px;
    border-top: dotted 1px #20cfe5;
    position: absolute;
    left: -12px;
    top: 88px;
}
	}


/*utility*/

/*utility*/

